<% if @track.errors.any? %>
  <div class="notice-error bg-danger">
    <h2 class="text-danger">An error ocurred when you try to save your track:</h2>
    <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @track, :html => {:class => "form-main form-horizontal", :role => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => "col-sm-1 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :title, :class => "form-control", :placeholder => "Track title" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :artist, :class => "col-sm-1 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :artist, :class => "form-control", :placeholder => "Artist name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bpm, :class => "col-sm-1 control-label" %>
    <div class="col-xs-1">
      <%= f.text_field :bpm, :size => 3, :maxlength => 3, :class => "form-control", :placeholder => "0" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :duration, :class => "col-sm-1 control-label" %>
    <div class="col-xs-1">
      <%= f.text_field :duration, :size => 5, :maxlength => 5, :class => "form-control", :placeholder => "00:00" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :observations, :class => "col-sm-1 control-label" %>
    <div class="col-xs-5">
      <%= f.text_area :observations, :rows => 5, :cols => 40, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :file, :class => "col-sm-1 control-label" %>
    <div class="col-xs-4">
      <%= f.file_field :file, :rows => 5, :cols => 40, :class => "form-control" %>
      <% if @track.file_file_name %>
        <span class="form-control-static text-danger filename"><%= @track.file_file_name %></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="">
      <%= f.submit :class => "btn btn-primary btn-main" %>
    </div>
  </div>
<% end %>