<h2 class="page-header"><span class="glyphicon glyphicon-headphones"></span> <strong class="text-primary"><%= @track.title %></strong></h2>

<h3>Infos</h3>

<ul>
  <li><strong>Artist:</strong> <span class="text-primary"><%= @track.artist %></span></li>
  <li><strong>BPM:</strong> <span class="text-primary"><%= @track.bpm %></span></li>
  <li><strong>Duration:</strong> <span class="text-primary"><%= @track.duration %></span></li>
  <li><strong>File name:</strong> <span class="text-primary"><%= @track.file_file_name %></span></li>
  <li><strong>File size:</strong> <span class="text-primary"><%= @track.file_file_size.nil? ? "" : "#{(@track.file_file_size / 1024)}mb" %></span></li>
  <li><strong>File type:</strong> <span class="text-primary"><%= @track.file_content_type %></span></li>
  <li><strong>Observations:</strong> <span class="text-primary"><%= @track.observations %></span></li>
</ul>