<section class="tracks">
  <div class="box-inner">
    <table class="tracks-table">
      <thead>
        <th></th>
        <th>Title</th>
        <th></th>
        <th>Artist</th>
        <th>Bpm</th>
        <th>Duration</th>
        <th>Observations</th>
      </thead>
      <tbody class="tracks-list">
        <% @tracks.each_with_index do |track, index| %>
          <%
            if track.volume.nil?
              track.volume = 0
            end
          %>
          <tr>
            <td class="action-icon"><%= index + 1 %></td>
            <td>
              <a href="#" class="track" data-id="<%= index + 1 %>" data-referenceid="<%= track.id %>" data-title="<%= track.title %>" data-artist="<%= track.artist %>" data-bpm="<%= track.bpm %>" data-duration="<%= track.duration %>" data-filename="<%= track.file.url -%>"><%= track.title %></a>
            </td>
            <td>
              <div class="track-volume-slider-holder">
                <i class="fa fa-volume-off"></i><input type="range" min="0" max="100" value="<%= track.volume %>" step="1" data-trackid="<%= track.id %>" class="track-volume-slider">
              </div>
            </td>
            <td>
              <%= track.artist %>
            </td>
            <td>
              <%= track.bpm %>
            </td>
            <td>
              <%= track.duration %>
            </td>
            <td>
              <%= track.observations %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>