<!DOCTYPE html>
<html>
<head>
  <title>Trackplayer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="app-title"><%= link_to "Track Player", tracks_path %> - admin</h1>
    <%if notice %>
      <p class="notice bg-success text-success"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
